@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1.5;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul,li {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
コンテンツ全体
*/
a, a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: #444;
}
body{
  padding: 1.5rem;
  color: #444;
  background-color: #efefef;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}
section > p{
  margin-bottom: 20px;
}
/*
ヘッダー
*/
header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 40px;
}
h1{
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
  margin-right: auto;
}
#logo{
  color: #9873ff;
}
.bt_header button{
  font-size: 0.7rem;
  width: auto;
  padding: 5px 15px;
}
.bt_header :first-child{
  background-color: #9d9d9d;
}
/*
共通ボタン
*/
button{
  color: #fff;
  border-radius: 3px;
  background-color: #9873ff;
  border: 1px solid #e6e6e6;
  width: 100%;
  padding: 15px;
  box-shadow: 0px 2px 3px #a4a4a4;
  cursor: pointer;
}
/*
ユーザーごとに表示切替のボタン
*/
button.lesson_new{
  margin: 0 0 20px 0;
}
button.lesson_update{
  background-color: #fe67a9;
}
button.lesson_detele{
  background-color: #777;
}
.bt_teacher {
	display: flex;
	justify-content: space-between;
  width: 100%;
}
.bt_teacher a {
	width: 45%;
}
/*
フォーム共通
*/
form input,textarea{
  display: block;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
}
form input[placeholder],form textarea[placeholder]{
  color: #8f8f8f;
}
