@charset "UTF-8";
section.detail{
  margin: 25px 0;
}
section img.lesson_pic{
  width: 100vw;
  position: relative;
  left: 50%;
  transform:translateX(-50%);
  display: block;
}
.detail_contents{
  background-color: #fff;
  padding: 1rem;
}
.detail_contents h2{
  font-size: 1.2rem;
  margin: 20px 0;
}
/*レッスンの詳細項目*/
.detail_contents ul li{
  padding: 8px 0;
}
.detail_contents ul.lesson_detail_lists li {
	border-bottom: 1px dotted #ccc;
}
.detail_contents ul.lesson_detail_lists li i{
  margin-right: 1rem;
}
/*先生の詳細項目*/
.detail_contents ul.teacher_detail_lists{
  margin-top: 30px;
}
.teacher_pic{
  text-align: center;
}
.teacher_pic img{
  width: 40%;
}
ul.teacher_detail_lists .teacher_name{
  text-align: center;
  font-weight: bold;
  border-bottom: 1px dotted #ccc;
}
.teacher_catchcopy{
  color: #9873ff;
}
.teacher_intro {
	font-size: 0.7rem;
}
