@charset "UTF-8";
/*
検索テキストボックス
*/
.search_area{
  margin-bottom: 25px;
}
.search_area p{
  margin-bottom: 0.35rem;
}
.search_area input{
  margin-bottom: 0;
  padding: 10px;
}
.search_area input[type="text"]{
  width: 85%;
}
.search_area input[type="submit"]{
  width: 15%;
  background-color: #2a81f4;
  color: #fff;
  cursor: pointer;
}
.search_inputs_area{
  display: flex;
}

/*
検索一覧
*/
.search_list{
  background-color: #fff;
  padding: 1rem;
  box-shadow: 4px 4px 5px #ccc;
}
.search_list > a{
  display: flex;
  flex-wrap: wrap;
}
.search_list .list_left {
	background-color: #fe67a9;
	width: 35%;
}
.search_list .list_right {
  width: 60%;
  margin-left: 10px;
}
.search_list .list_left img{
  width: 100%;
}
.search_list div span{
  display: block;
  font-size: 0.7rem;
}
.search_list .list_left span{
  color: #fff;
}
/*.list_left&.list_rightのspan*/
.search_list div span.price,.search_list div span.title{
  font-weight: bold;
  font-size: 1rem;
}
/*.list_rightのspan*/
span.title{
  margin-bottom: 10px;
}
span.area::before{
  content: "\f3c5";
  width: 10px;
  height: auto;
  margin-right: 5px;
}
span.teacher_catchcopy, span.teacher_name{
  color: #999;
  font-size: 0.7rem;
}
button{
  margin-top: 20px;
}
.bt_user {
	flex-basis: 100%;
}
