@charset "UTF-8";
/*
ログインのヘッダー
*/
h2{
  margin-left: 3%;
  font-weight: normal;
}
/*
フォーム要素
*/
form input[placeholder]{
  padding-left: 40px;
}
.input_area{
  position: relative;
}
.input_area i{
  font-size: 1.2rem;
  color: #444;
  position: absolute;
  top: 14px;
  left: 15px;
}
