@charset "UTF-8";
label p{
  font-weight: bold;
}
.required, .comment{
  display: inline-block;
  font-size: 0.7rem;
  margin: 0 0 4px 3px;
  font-weight: normal;
}
.required{
  color: #ea0000;
  border:1px solid #ea0000;
  padding: 0 2px;
}
form input[type=radio]{
  width: auto;
  display: inline-block;
  margin: 0 3px 3px 3px;
}
.radio_input{
  display: block;
}
.radio_input:last-of-type, select{
  margin-bottom: 20px;
}
