@charset "UTF-8";
button.button_modify{
  width: 50%;
  margin-top: 25px;
  background-color: #777;
  position: relative;
  left: 25%;
}
span {
  display: block;
	margin-bottom: 20px;
	border-bottom: 1px dotted #ccc;
	padding: 0 0 8px 0;
}
dl {
	background-color: #fff;
	padding: 15px;
	margin-bottom: 25px;
}
dt{
  font-weight: bold;
  font-size: 0.8rem;
}
dd img{
  width: 100%;
  height: auto;
}
dd.teacher_img > img{
  width: 40%;
  height: auto;
}
.teacher_img{
  text-align: center;
}
